:root{
    --primary_color: #272727;
    --secondary_color: #2e2e2e;
    --transition: all 500ms ease-out;
    --show_image: url("../images/banner.jpg");
    --bg_opacity: 0.9;
}

*{
    box-sizing: border-box;
}

body{
    background-image:var(--show_image);
    background-attachment: fixed;
    background-size:cover;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

body:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(37,37,37,0.8);
    z-index: -1;
}

h1, h2, h3{
    margin: 0;
    font-weight: 400;
}